.container-main {
	margin: 10% 30% 0 10%;
	font-size: 1.6em;
}
.newHere {	
	color: white;
	font-size: 1.2em;
}
#newHere {
	margin: 5px 0 0 400px;	
}
#testTwilio {
	margin: 5px 0 0 10px;	
}
.spacing {
	margin: 1%;
}
.navbar-nav li {
	font-size: 1.4em;
}
.small-image {
	width: 60px;
}
.checks{	
}
.checksImg {
	width: 40px;
}
.biggerText {
	font-size:  1.007em;
}
.roomModal {
	width: 670px;
}